<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Latihan Django 2.2">
        <meta name="author" content="ilman teguh prasetya">
        <meta name="keywords" content="HTML,CSS,JavaScripts">
        <title>
            Belajar Django
        </title>
    </head>
    <body>
        <div class="container">
            <article>
                <section>
                    <h3>Welcome</h3>
                    <p>Selamat Datang, diwebsite ini website ini dibuat menggunakan django 2.2.</p>
                    <p>Berikut adalah menu yang dapat diakses pada saat ini : </p>
                    <ul>
                        <li><a href="/">Menu</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/blog/">Blog</a></li>
                    </ul>
                </section>
            </article>
        </div>
    </body>
</html>