<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Latihan Django">
        <meta name="author" content="ilman teguh prasetya">
        <meta naem="keywords" content="CSS,HTML,JavaScripts">
        <title>
            Belajar Django
        </title>
    </head>
    <body>
        <div class="container">
            <article>
                <section>
                    <h3>Welcome to Blog</h3>
                    <p>Halo selamat data di about. ini adalah bagian dari website latihan django</p>
                    <p>Berikut adalah menu yang saat ini dapat diakses : </p>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/blog/">Blog</a></li>
                    </ul>
                </section>
            </article>
        </div>
    </body>
</html>