{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'snippets/meta.html' %}

        <title>
            Belajar Django
        </title>
        {% include 'snippets/styles.html' %}
    </head>
    <body>
        <div class="container">
            <div class="main">
                <h3>Hello World</h3>
                <table>
                    {% for path in post %}
                        <article>
                            <section>
                                <h3>{{ path.judul }}</h3>
                                <p>{{ path.context }}</p>
                            </section>
                        </article>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>