<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Latihan Django">
        <meta name="author" content="ilman teguh prasetya">
        <meta name="keywords" content="CSS,HTML,JavaScripts">
        <title>
            Belajar Django
        </title>
    </head>
    <body>
        <div class="container">
            <div class="main">
                <article>
                    <section>
                        <h3>Welcome</h3>
                        <p>Hello, ini adalah website yang dibangun menggunakan Django 2.2</p>
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </section>
                </article>
            </div>
        </div>
    </body>
</html>