<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="JavaScripts,HTML,CSS">
        <meta name="description" content="Latihan Django">
        <meta name="author" content="ilman teguh prasetya">
        <title>
            Belajar Django
        </title>
    </head>
    <body>
        <div class="container">
            <div class="main">
                <article>
                    <section>
                        <h3>About</h3>
                        <p>Ini adalah about</p>
                    </section>
                </article>
            </div>
        </div>
    </body>
</html>