<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Latihan Django">
        <meta name="keywords" content="JavaScripts,HTML,CSS">
        <meta name="author" content="ilman teguh prasetya">
        <title>
            Belajar Django
        </title>
    </head>
    <body>
        <div class="container">
            <article>
                <section>
                    <h3>About</h3>
                    <p>Ini adalah about.</p>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/about/">About</a></li>
                    </ul>
                </section>
            </article>
        </div>
    </body>
</html>