{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Latihan Django 2.2.*">
        <meta name="author" content="ilman teguh prasetya">
        <meta name="keywords" content="CSS,JavaScripts,HTML">
        <title>
            Belajar Django
        </title>
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container-fluid">

        </div>
        <script type="javascript" src="{% static 'vendor/bootstrap/js/popper.min.js' %}"></script>
        <script type="javascript" src="{% static 'vendor/bootstrap/js/jquery-3.3.1.slim.min.js' %}"></script>
        <script type="javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>